
# Created by https://www.gitignore.io/api/c++
1077C.cpp
1013B.cpp
1077C.cpp
1121A.cpp
.DS_Store

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#own
*.txt
main.cpp
158B.cpp
# End of https://www.gitignore.io/api/c++
